*.log
.DS_Store
.env
.env.backup
.env.production
.env.*
!.env.example
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/bootstrap/ssr
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
*.db
*.db-shm
*.db-wal
*.dump
*.sqlite
*.sqlite-shm
*.sqlite-wal
*.sqlite3
*.sql
*.sql.gz
*.postman_environment
/contacto_digital_bd
/contacto_digital_db
Homestead.json
Homestead.yaml
Thumbs.db
